@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
    max-width: 500px;
    margin: 0 auto;
}

.message-img{
    display: block;
    max-width: 100%;
    border-radius: 15px;
}