<section class="chat-section">
    <div class="container">
            <div class="chat-window">
                <div class="message"><p class="message-text">Hello world</p> <span class="message-time"> 12:00</span>
                </div>
                <div class="message right">
                    <p class="message-text">Hello world1</p> <span class="message-time"> 12:00</span>
                </div>
            </div>
            <div>
                <form class="d-flex chat-form">
                    <label class="form-control-label">
                        <input type="text" class="form-control" name="message">
                    </label>
                    <label for="file" class="btn ms-2 input-btn">&#128206</label>
                    <input type="file" id="file" class="input-file">
                    <button type="submit" class="btn btn-primary ms-2">Send</button>
                </form>
    </div>
</div>
</section>