<div>
  <form class="g-3 form" id="registration">
    <h2>Реєстрація</h2>
    <div class="col-auto mb-3">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input
        type="text"
        class="form-control"
        id="staticEmail2"
        name="email"
        required
      />
    </div>
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword2"
        placeholder="Password"
        name="password"
        required
      />
    </div>
    <div class="col-auto mt-3">
      <button type="submit" class="btn btn-primary mb-3">
        Зареєструватися
      </button>
    </div>
  </form>
</div>
